.page {
  height: 100vh;
}

.navbar {
  height: 10vh;
  width: 100%;
  background-color: #203430;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo h1 {
  padding-left: 30px;
  color: #f7fff8;
  font-family: "Instrument Serif", sans-serif;
  cursor: pointer;
}

.navlinks {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-right: 30px;
}

.navlinks a {
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  color: #f7fff8;
  font-size: 1rem;
  cursor: pointer;
}

.fade-wrapper {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  justify-self: center;
  height: 90vh;
  width: 500px;
}

.heading {
  color: #203430;
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin: 0;
  margin-bottom: 10px;
}

.label {
  color: #203430;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 5px;
}

.input {
  border: 1.5px #203430a0 solid;
  border-radius: 15px;
  background-color: transparent;
  color: #203430;
  padding: 10px 15px;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  transition: all 0.2s;
}

.input:focus-visible {
  outline: none;
  border: 1.5px #203430 solid;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.gmBtn {
  color: #f7fff8;
  border: none;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.2s;
}

.cgbtn {
  margin-top: 10px;
  background-color: #203430;
  color: #f7fff8;
  border: none;
  border-radius: 15px;
  padding: 15px;
  cursor: pointer;
  font-family: "Lexend";
  font-size: 1.1rem;
  font-weight: 300;
  transition: all 0.2s;
}

.cgbtn:hover {
  background-color: #203430cc;
}

.cgbtn:disabled {
  background-color: #203430cc;
  cursor: not-allowed;
}