.page {
    height: 100vh;
}

.navbar {
    height: 10vh;
    width: 100%;
    background-color: #203430;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo h1 {
    padding-left: 30px;
    color: #f7fff8;
    font-family: "Instrument Serif", sans-serif;
    cursor: pointer;
}

.navlinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}

.navlinks a {
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    color: #f7fff8;
    font-size: 1rem;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.gamebtn {
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #203430;
    color: #f7fff8;
    font-size: 1.1rem;
    font-family: "Lexend", sans-serif;
    font-weight: 350;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.2s;
}

.gamebtn:hover {
    background-color: #203430dd;
}

.gamebtn:disabled {
    background-color: #203430cc;
    cursor: not-allowed;
}

.welcomeMessage {
    font-family: "Instrument Serif", sans-serif;
    font-size: 2.2rem;
    color: #203430;
    margin-bottom: 30px;
}


.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    border-top: 1px solid #000;
}

.divider span {
    padding: 0 10px;
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
    background-color: transparent;
}

.input {
    border: 1.5px #20343090 solid;
    border-radius: 15px;
    font-size: 1rem;
    font-family: "Lexend", sans-serif;
    font-weight: 300;
    background-color: transparent;
    margin-bottom: 10px;
    padding: 10px 15px;
    transition: all 0.2s;
}

.input:focus-visible {
    outline: none;
    border: 1.5px #203430 solid
}

.fade-wrapper {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}